@model Project3_FinalExam.ViewModels.HomeViewModel
<div class="slider">
	<div class="slide current">
		<div class="bg-layer">
			<div class="content" style="min-width:1200px;min-height:300px">
				<h1> @Model.home.title</h1> 
				<h3><i>@Model.home.description </i> </h3>
			</div>
		</div>
	</div>
</div>
<!-- //banner section -->
<!-- home about section -->
<section class="w3l-aboutblock py-5">
	<div class="container py-md-5 py-4">
		<div class="row">
			<div class="col-lg-6 left-wthree-img position-relative order-lg-first order-last mt-lg-0 mt-5 pb-lg-0 pb-5 mb-md-0 mb-4"> <img src="~/images/about1.png" alt="" class="img-fluid"> <img src="~/images/about2.png" alt="" class="img-fluid img-border position-absolute img-position mr-xl-5"> </div>
			<div class="col-lg-6 about-right-faq align-self pl-lg-5 mt-xl-4 order-lg-last order-first">
				<h3 class="text-bgs mb-md-3 mb-2">Since <span>1829</span></h3>
				<h3 class="title-style">We Have <span>191+</span> Years of Experience</h3>
				<p class="ab-text mt-4 pt-lg-2">"Ranked among nation’s top cooperative education or internship programs, according to U.S. News and World Report, 2022.</p>
				<p class="mt-4">57th on the list of "Most Innovative Schools" according to U.S. News & World Report.</p> <img class="img-fluid mt-md-5 mt-4 img-dark-color" src="~/images/sign.png" alt=" "> </div>
		</div>
	</div>
</section>
<!-- //home about section -->
<!-- service 3 grids -->
<section class="w3l-service-3 py-5">
	<div class="container py-md-5 py-4">
		<div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:600px;">
			<h3 class="title-style">Advancing the exceptional  <span>through...</span>
                </h3> </div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="service-single-grid" style="min-height:420px">
					<div class="service-image"> <img src="~/images/home-s1.jpg" class="img-fluid" alt=""> </div>
					<div class="service-content p-4">
						<h5 class="mb-2"><a asp-area="" asp-controller="Home" asp-action="Degrees">Degrees Offered</a></h5>
						<p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere curae fers luctus eted.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-md-0 mt-sm-5 mt-4">
				<div class="service-single-grid" style="min-height:420px">
					<div class="service-image"> <img src="~/images/minor.jpeg" class="img-fluid" alt=""> </div>
					<div class="service-content p-4">
						<h5 class="mb-2"><a asp-area="" asp-controller="Home" asp-action="Degrees">Minors offered</a></h5>
						<p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere curae fers luctus eted.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-sm-5 mt-4">
				<div class="service-single-grid" style="min-height:420px">
					<div class="service-image"> <img src="~/images/employ.jpeg" class="img-fluid" alt=""> </div>
					<div class="service-content p-4">
						<h5 class="mb-2"><a asp-area="" asp-controller="Home" asp-action="Degrees">Employement data</a></h5>
						<p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere curae fers luctus eted.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- service 3 grids -->
<!-- about -->
<section class="w3l-features-6">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 w3l-features-6-left order-lg-first order-last text-center"> <img src="~/images/img1.png" class="img-fluid" alt="" /> </div>
			<div class="col-lg-7 w3l-features-6-right order-lg-last order-first mb-lg-0 mb-4 mt-lg-5">
				<div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:600px;">
					<h3 class="title-style">About <span>Us</span>
                        </h3> </div>
				<div class="row pt-lg-4">
					<div class="col-sm-6 w3l-features-6-sub d-flex">
						<div class="mr-3"> <i class="fas fa-thumbs-up"></i> </div>
						<div class="">
							<h5 class="w3l-feature-text mb-3">Our Mission</h5>
							<p>At Rochester Institute of Technology, we shape the future and improve the world through creativity and innovation.</p>
						</div>
					</div>
					<div class="col-sm-6 w3l-features-6-sub d-flex mt-sm-0 mt-4">
						<div class="mr-3"> <i class="fab fa-angellist"></i> </div>
						<div class="">
							<h5 class="w3l-feature-text mb-3">Our Vision</h5>
							<p>Diversity and Inclusion</p>
						</div>
					</div>
				</div>
				<div class="row mt-sm-5 mt-4">
					<div class="col-sm-6 w3l-features-6-sub d-flex">
						<div class="mr-3"> <i class="fas fa-lightbulb"></i> </div>
						<div class="">
							<h5 class="w3l-feature-text mb-3">Our Values</h5>
							<p>RIT does not discriminate. RIT promotes and values diversity within its workforce and provides equal opportunity to all.</p>
						</div>
					</div>
					<div class="col-sm-6 w3l-features-6-sub d-flex mt-sm-0 mt-4">
						<div class="mr-3"> <i class="fas fa-seedling"></i> </div>
						<div class="">
							<h5 class="w3l-feature-text mb-3">Student Right to Know</h5>
							<p>The Higher Education Opportunity Act of 2008 contains numerous federal reporting and disclosure requirements. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //about -->
<!-- middle -->
<div class="middle-inner py-5">
	<div class="container py-md-5 py-4">
		<div class="about-left text-center py-lg-4">
			<h3 class="title-big">Message from the President</h3>
			<p>RIT is one of the top universities in the nation working at the intersection of technology, the arts and design. We are a university that is shaping the future and improving the world through creativity and innovation</p> <a asp-area="" asp-controller="Home" asp-action="Degrees" class="btn btn-style btn-style-white mt-sm-5 mt-4 mr-2">Get started</a> <a asp-area="" asp-controller="Home" asp-action="Employment" class="btn btn-style mt-sm-5 mt-4">Contact Us</a> </div>
	</div>
</div>
<!-- //middle -->
<!-- testimonials section -->
<section class="w3l-clients py-5" id="testimonials">
	<div class="container py-md-5 py-4">
		<div class="title-main text-center mx-auto mb-5" style="max-width:600px;">
			<p class="mt-2">Testimonials</p>
			<h3 class="title-style">Student & Employer <span>Feedback</span>
                </h3> </div>
		<div class="row mt-4 py-md-2 mb-md-4">
			<div class="item col-md-6 pl-md-0">
				<div class="testimonial-content">
					<div class="testimonial">
						<p>@Model.home.quote</p>
					</div>
					<div class="bottom-info mt-4">
						<div class="people-info align-self">
							<h3> @Model.home.quoteAuthor</h3>
							<ul class="d-flex">
								<li><a href="#rating"><i class="fas fa-star"></i></a></li>
								<li><a href="#rating"><i class="fas fa-star"></i></a></li>
								<li><a href="#rating"><i class="fas fa-star"></i></a></li>
								<li><a href="#rating"><i class="fas fa-star"></i></a></li>
								<li><a href="#rating"><i class="fas fa-star"></i></a></li>
							</ul>
						</div>
						<a class="comment-img mt-3" href="#url"><img src="~/images/testi1.jpg" class="img-responsive" alt="placeholder image"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 
@section Scripts {
<script>
console.log("asdf");
$('#myUnderDegrees').accordion({
	collapsible: true,
	active: false,
	heightStyle: "content"
});
</script> }